.view-files{
	display: flex;
	flex-direction: column;
}


.files-view-content{
	flex: 1 0 auto;
}

.file-view-list-holder{
	display: flex;
	padding: $unit*2;
	@include media-small{
		flex-direction: column;
	}

}
.file-view-list-section-icon-holder{
	flex: 0 0 auto;
	width: $unit*5;
	margin-right: $unit;
	@include media-small{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 0;
		margin-bottom: $unit;
	}
}
.file-view-list-section-icon{
	display: block;
	width: 100%;
	@include media-small{
		width: auto;
		height: $unit*5;
	}
}
.file-view-list-table-holder{
	@include card($padding:0);
	flex: 1 1 auto;
}
.file-view-list-table{
	width: 100%;
	tr{
		@include cardListHover;
		&:not(:last-child){
			border-bottom: 1px solid $c-line;
		}

	}
	td{
		padding: $unit $unit*2;
		vertical-align: middle;
		line-height: 1.3;
		flex: 0 0 auto;

	}
}

td.file-view-list-iconType-cell{
	max-width: $unit*7;
	padding-right: $unit;
    line-height: 1;
    @include media-small{
    	padding: $unit;
    }
}

.file-view-list-iconType{
	$thisSize: $unit*4;
	width: $thisSize;
	height: $thisSize;
	border-radius: 50%;
	background-color: #eee;
	background-size: contain;

	$filetypes: "pdf", "audio", "video", "image";
	@each $type in $filetypes{
	    &-#{$type}{
		    background-image: url('../images/icon-filetype-#{$type}.svg');
		}
	}
}
td.file-view-list-name{
	width: 80%;
	&.hasUnitName{
		@include media-regUp{
			width: 45%;
		}
	}
	@include media-small{
		width: 100%;
		padding-left: $unit;
	}
}
.file-view-list-unit-name{
	width: 35%;
	@include media-small{
		display: none;
	}
}
.file-view-list-date{
	width: 20%;
	@include media-xtraSmall{
		display: none;
	}
}

.file-view-list-main-title{
	display: inline;

}
.file-view-list-subtitle{
	@include textExplain;
}

td.file-view-list-date,
td.file-view-list-size{
	@include textExplain;
	font-weight: 300;
	@include media-regDown{
		font-size: 0.75em;
		padding-left: 0;
	}
	@include media-small{
		width: auto;
	}
}

.files-view-controls{
	padding: 0 $unit*2;
	background-color: #aaa;

	.container{
		display: flex;
		justify-content: flex-start;
	}

}

.files-view-controls-button>a{
	display: block;
	@include button-toolbar;
	@include button-toolbar-isdropdown;
	transition: all 0.2s;
	&:hover{
		color: $base-text-color;
	}
}
.files-view-controls-list{
	@include dropdown-basic;
	transform-origin: top left;
	transform: translate(0, -20px) scale(0);
	opacity: 0;
	@at-root .open>& {
	    display: block;
	    transform: translate(0, 0) scale(1);
        opacity: 1;
	}
    top: calc(100% + #{$unit/2});
    left: -$unit;
	&:before{
	    top: -$unit*1.5;
	    left: $unit*2;
	}
	li a{
		min-width: 160px;
		padding: $unit;
	}	
}

.download-all-holder{
	padding: $unit*2;
}
.download-all-button{
	@include card($padding: $unit*3 $unit*2);
	@include card-hover;
	display: flex;
	align-items: center;
	background-color: #555;
	color: #fff;
	@include smooth-text;
    cursor: pointer;
    @include user-select-none;
    @include no-tap-color;

}
.download-all-text{
	padding-right: $unit*3;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	&:before{
		content: "";
		width: 2em;
		height: 2em;
		display: block;
		background-image: url('../images/icon-download-circle.svg');
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: $unit*2;
		flex: 0 0 auto;
	}
}
.download-all-size{
	@include media-regDown{
		font-size: 0.75em;
	}
}
