.view-search{
	display: flex;
	flex-direction: column;
}

.search-view-content{
	flex: 1 0 auto;
	background-color: #e4e8eb;

	.container{
		display: flex;
		align-items: flex-start;
	}
}

.search-view-content-holder{
	flex: 1 1 auto;
}

.search-view-badge-new{
	@include badge(new);
}

.search-view-badge-updated{
	@include badge(updated);
}



.search-view-list-iconType{
	@include filetype;
}

@import "sections/_search-controls";
@import "sections/_search-results";