.view-settings{
	display: flex;
	flex-direction: column;
	.content-view-heading-main{
		color: $c-trc-settings;
	}
}


.settings-view-content{
	flex: 1 0 auto;
	background:$c-trc-bg;
}

.settings-section{
	margin: $unit*2 0 $unit*4;
	padding: 0 $unit*2;
}

.settings-section-content{
	@include card($padding:0);
}

.settings-section-heading{
	@include pageHeadingLight;
	margin-bottom: 0.25em;
	color: $c-trc-settings;
}

.settings-item{
	&:not(:last-child){
		border-bottom: 1px solid $c-line;
	}
	
}

.settings-item-static{
	display: flex;
	padding: $unit $unit*2;
	align-items: center;
    @include cardListHover;
	&:focus{
		outline-color: $c-trc-settings;
	}
	&:active{
		outline: none;
	}
	@include media-xtraSmall{
		flex-direction: column;
		align-items: stretch;
	}
	&.ng-animate{
		transition: none; // TODO: make this a helper.
	}
}

.settings-item-label-faux{
	margin-right: $unit;
	min-width: 8em;
}
.settings-item-current{
	color: $c-light-text;
	flex: 1 0 auto;
}

.settings-edit-button{
	@include button-minimal;
	color: $c-trc-settings;
	text-transform: uppercase;
	text-align: center;	
	align-self: flex-end;
	transition: all 0.2s;
	.settings-item-static:hover &,
	.settings-item-static:focus &{
		background-color: mix($c-trc-settings,#000,80);
		color: #fff;
	}
}

.settings-item-change{
	padding: $unit $unit*2;
}
.settings-form{
	display: flex;
	flex-direction: column;
}

.settings-form-group{
	flex: 1 1 auto;
}

.settings-form-item{
	position: relative;
	display: flex;
	flex-direction: column;
	&:not(:last-child){
		margin-bottom: $unit*1.5;
	}
}

.settings-form-label{
	display: block;
	cursor: pointer;
	padding: $unit/2 0;
	order: -1;
	font-weight: 600;
}

.settings-form-control-text{
	border-radius: none;
	outline: none;
	border: none;
	font-size: inherit;
	max-width: 30em;
	color: $c-light-text;
	padding: 0.25em 0;
	border-bottom: 2px solid #bbb;
	cursor: text;
	transition: border 0.2s, color 0.2s;
	&:focus{
		border-bottom-color: $c-trc-settings;
		color: $c-trc-settings;
		outline-color: $c-trc-settings;
		& ~ .settings-form-label{
	
		}
	}
	&.ng-valid:not(.ng-pristine){
		border-bottom-color: $c-success;
		// color: $c-success;
	}
	&.ng-invalid:not(.ng-pristine){
		border-bottom-color: $c-warning;
		color: $c-warning;
	}
}


.settings-helper{
	font-size: 0.9em;
	color: $c-lightest-text;
	padding: $unit 0;
	&.is-valid{
		&:after{
			display: inline-block;
			@include valid-check;
			background-color: $c-success;
			border-radius: 50%;
			margin-left: 0.5em;
		}
	}
	&.is-invalid{
		&:after{
			display: inline-block;
			@include valid-cross;
			background-color: $c-warning;
			border-radius: 50%;
			margin-left: 0.5em;
		}
	}
	&-error-on-blur{
		background-color: $c-warning;
		position: absolute;
		z-index: 2;
		top: calc(100% + #{$unit});
		left: 0;
		display: block;
		color: #fff;
		padding: $unit/2 $unit;
		border-radius: 2px;
		&:before{
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
			left: $unit;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 6px 5px;
			border-color: transparent transparent $c-warning transparent;

		}
	}
}

.settings-validation-message{
	background: $c-warning;
	position: absolute;
	border-radius: 2px;
	padding: $unit/2 $unit;
	color: #fff;
	top: 100%;
	right: 0;
}
.settings-form-buttons{
	display: flex;
	justify-content: flex-end;
	padding: $unit 0;
}

//needs pulling out into a 'button' reset mixin and a 'settings' style mixin:
.settings-editing-button{
	//reset:
    background: none;
    border: 0;
	background-color: $c-trc-settings;
	color: #fff;
	line-height: inherit;
	font-size: inherit;
	@include button-minimal;
	text-transform: uppercase;
	text-align: center;	
	align-self: flex-end;
	transition: all 0.2s;
	&:disabled{
		background-color: mix(rgba($c-trc-settings,0.4),#000,94);
		pointer-events: none;
	}
	&:focus,
	&:hover{
		background-color: mix($c-trc-settings,#000,80);
		color: #fff;
		// outline: none;
	}
	&:focus:not(:active){
		box-shadow: 0 2px 0 0 mix($c-trc-settings,#000,50);
		transform: translate(0, -2px);
		outline-color: $c-trc-settings;
	}
	~ .settings-editing-button{
		margin-left: $unit;
	}
}

.setting-change-confirmation{
	$thisColor:$c-success;
	margin: $unit*2 0 $unit*4;
	padding: 0 $unit*2;
	&-text{
		@include card($thisColor);
		color: #fff;
		text-align: center;
		padding: $unit $unit*2;
		&:after{
			display: inline-block;
				@include valid-check(2em);
				background-size: 1.2em;
				background-color: mix($thisColor,#000,50);
				border-radius: 50%;
				margin: 0.5em;
		}
	}

}
.setting-change-error{
	$thisColor:$c-warning;
	@extend .setting-change-confirmation;
	&-text{
		@include card($thisColor);
		color: #fff;
		text-align: center;
		padding: $unit $unit*2;
		&:after{
			display: inline-block;
				@include valid-warn(2em);
				background-size: 1.2em;
				background-color: mix($thisColor,#000,50);
				border-radius: 50%;
				margin: 0.5em;
		}
	}
}