$c-register: #227090;
.view-signIn{
	display: flex;
	flex-direction: column;
	margin-top: 0;
	.content-view-heading-main{
		color: $c-trc-settings;
	}
	.homepage-banner{
		padding-top: $unit*6;
		padding-bottom: $unit*6;
		@include media-regDown{
			padding: $unit*2;
		}
	}
}

.signIn-section{
	padding: $unit*4 $unit*2 $unit*6;
	@include media-regDown{
		padding-top: $unit;
	}
	flex: 0 0 auto;
	@include OPD{
		background-color: $c-trc-bg;
	}
	>.container{
		display: flex;
		padding: $unit*2 0;
		flex: 0 0 auto;
		flex-wrap: wrap;
		@include media-regDown{
			flex-direction: column;
		}
	}	
}

.signIn-card{
	flex: 1 1 40%;
	@include card($padding:0);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&-signUp{
		margin-left: $unit*2;

		@include media-regDown{
			margin-left: 0;
			margin-top: $unit*4;
			order: 1;
		}
	}

}


.signIn-card-heading{
	@include pageHeadingLight;
	padding: $unit $unit $unit $unit*2;
}

.signIn-form{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: space-between;
}

.signIn-form-item{
	position: relative;
	display: flex;
	flex: 1 0 auto;
	background-color: #fff;
	&:not(:last-child){
		border-top: 1px solid $c-line;
	}
}

.signIn-form-label{
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: $unit*2 $unit $unit*2 $unit*2;
	order: -1;
	min-width: 7em;
	transition: color 0.2s;
}

.signIn-form-control-text{
	@include input-text-line($color: $c-light-text, $focus: $c-trc-settings, $focusColor:$base-text-color);
	border-bottom-color:#fff ;
	flex: 1 1 auto;
	min-width: 8em;
	margin: $unit $unit*2 $unit $unit;
	&:focus ~ .signIn-form-label{
		color: $c-trc-settings;
	}
}

.signIn-card-action-button{
	@include real-button-override;
}

.signIn-card-action{
	display: block;
	$thisColor: $c-trc-settings;
	@include button-basic($thisColor);
	padding: $unit*2;
	transition: all 0.2s;
	margin: $unit;
	&:focus,
	&:hover{
		background-color: lighten($thisColor,10);
	}
	&-register{
		background-color: mix($c-register,#000,50);

		&:focus,
		&:hover{
			background-color: lighten(mix($c-register,#000,50),10);
		}
	}
}

.signIn-card-description{
	padding: $unit $unit*2;
	flex: 1 0 auto;
	.link-external{
		color: lighten($c-trc-accent-1,20);
	}
}


.signIn-form-error{
	@include submission-message-error;	
	// padding:0 $unit*2 $unit;
	&-text{
		@include pageHeadingLight;
		text-align: left;
		display: flex;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}

}

.signIn-forgot-pw-area{
	flex: 1 0 40%;
	max-width: calc(50% - #{$unit});
	@include media-regDown{
		max-width: 100%;
	}
	margin-top: $unit*2;

}
.signIn-forgot-pw-link{
	@include button-minimal;
	padding: $unit*2;
	display: block;
	text-align: center;
	@include OPD{
		background-color: rgba(#fff,1);
		color: $c-trc-settings;
		&:hover,
		&:focus{
			background-color: rgba(#fff,0.7);
		}
	}

}


//marketing stuff (probably make a component):

.signIn-marketing{
	background:$c-trc-bg;
	padding: $unit*6 $unit*2;
	flex: 1 0 auto;
}

