//Styles for the 'header' that appears on all content pages (pretty much all pages except homepage).

.content-view-header{
	flex: 0 0 auto;
	padding: $unit*2;
	>.container{
		display: flex;
		align-items: stretch;
	}
	&-text{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

//note that just about every item below here is 'optional' so has been coded to work well regardless of which items are included on any given view.

.view-icon-holder{
	flex: 0 0 auto;
	padding-right: $unit*2;
	display: flex;
	align-items: center;
	img{
		display: block;
		width: $unit*8;
		height: $unit*8;
		@include media-regUp{
			width: $unit*12;
			height: $unit*12;
		}
	}
}

.content-view-heading-main{
	@include pageHeadingLight;
}

.content-view-page-desc{
	@include paragraph;
	@include textExplain;
}

.more-button{
	@include button-inline($c-trc-accent-1);
	white-space: nowrap;
}