.content-view-header{
	flex: 0 0 auto;
	padding: $unit*3 $unit*2;
	>.container{
		display: flex;
		align-items: stretch;
	}
	&-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.view-icon-holder{
	flex: 0 0 auto;
	padding-right: $unit*2;
	display: flex;
	img{
		display: block;
		width: 8vmax;
		min-width: $unit*4;
		max-width: $unit*12;
	}
}

.content-view-heading-main{
	@include pageHeadingLight;
}

.content-view-page-desc{
	@include paragraph;
	@include textExplain;
}