.folder-view-content.list-view{
	padding: $unit*2;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: auto 100%;
	@include media-small{
		background-image: none !important;
	}
}
.folder-view-list-list-view{
	@include card($padding:0);
	@include media-regUp{
		width: 50%;
		max-width: $unit*75;		
	}
	
	.folder-view-list-item{
		&:not(:last-child){
			border-bottom: 1px solid $c-line;
		}
	}

	.folder-view-list-item-link{
		display: block;
		padding: $unit;
		@include cardListHover;
	}
	.folder-view-list-item-desc{
		color: $c-light-text;
	}
}