//styles the folder view when grid-view is defined in the json file
.folder-view-list-grid-view{
	display: flex;
	flex-wrap: wrap;
	padding: $unit;

	.folder-view-list-item{
		flex: 1 1 auto;
		padding: $unit;
		display: flex;

		//uses media queries to switch to 1,2,3, or 4 columns depending on viewport size
		width: 50%;
		@include media-xtraSmall{
			width: 100%;
		}
		@include media-regUp{
			width: 33%;
		}
		@include media-large{
			width: 25%;
		}
	}

	.folder-view-list-item-link{
		@include card($padding:0);
		@include card-hover;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.folder-view-list-item-desc{
		@include textExplain;
		padding: 0 $unit $unit;
	}

}

//OPD Specific rules:

// 01: OPD is using circular icons centered inside the overall image area.
// Other courses may choose to use full bleed illustrtion so the styles that govern icon placement are OPD specific:
.folder-view-list-item-icon-holder{
	@include OPD{
		padding: $unit;
		img{
			display: block;
			width: 100%;
			max-width: $unit*16;
			margin: 0 auto;
		}
	}

}