<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
  </head>
  <body ng-app="trcApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="page-header page-header-opd" ng-controller="HeaderCtrl">
    <div ng-class="locationClass()" class="logo-container logo-container-opd-small">
      <a class="logo-container-link" ng-href="#/">
        <img class="logo-opd-small" src="images/logo-opd-small.png" alt="OPD">
      </a>
    </div>
      <div class="other-stuff-container">
      <div class="other-stuff-toggle" ng-class="{'is-open': openOtherStuffNav.open === true}" ng-click="openOtherStuffNav.open = !openOtherStuffNav.open">
        <div class="other-stuff-toggle-icon"></div>
      </div>
        <nav class="other-stuff-menu" ng-show="openOtherStuffNav.open" >
          <ul>
            <li ng-repeat="item in otherStuff"><a class="other-stuff-menu-link">{{item.text}}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="view-holder" ng-view=""></div>

    <div class="page-footer" ng-controller="HeaderCtrl">
      <div class="slt-banner"  ng-class="locationClass()">
        <div class="container">
          <div class="logo-holder">
            <img class="logo-slt" src="images/logo-SLT.svg" alt="Shaping Learning Together">
          </div>
        </div>      
      </div>
      <div class="container main-footer-content">
        <a class="logo-oup-a" href="https://elt.oup.com/">
          <img src="images/logo-OUP.svg" alt="Oxford University Press" class="logo-oup">
        </a>
        <div class="boring-footer-stuff">
          <ul class="footer-links-list">
            <li ng-repeat="item in footerLinks"><a href="">{{item.text}}</a></li>
          </ul>
          <p class="copyright-line">Copyright © Oxford University Press, 2015. All Rights Reserved.</p>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/folders.js"></script>
        <script src="scripts/controllers/files.js"></script>
        <!-- endbuild -->
</body>
</html>
