$unit: 8px;

$base-font-stack: "Open Sans", "Roboto", "Helvetica Neue",sans-serif;
$base-font-size: $unit*2;
$base-line-height: 1.5;
$base-text-color: #555;

$fw-light: 300;
$fw-reg: 400;
$fw-semi: 600;


$c-opd-accent-1: #ea7f00;


$c-trc-bg: rgb(228,232,235);
$c-line: #ccc;
$c-new: rgb(205,50,125);
$c-updated: rgb(0,160,225);

$c-light-text: #999;

$c-trc-accent-1: $c-opd-accent-1;