<div class="view view-files">
	<header class="content-view-header">

		<div class="container">
			<div class="view-icon-holder">
				<img ng-src="{{files.json.icon}}" alt="">
			</div>
			<div class="content-view-header-text">
				<h1 class="content-view-heading-main" style="color: {{files.json.color1}}">
					{{files.json.title}}
				</h1>
				<p class="content-view-page-desc">
					{{files.json.description}}
				</p>
			</div>
		</div>

	</header>
	
	<div class="files-view-controls" ng-if="files.sort || files.filter">
		<div class="container">
			<!-- Filter -->
				<div 
				  class="files-view-filter-holder"
				  ng-if="files.filter"
				>


					<div 
					  uib-dropdown 
					  on-toggle="toggled(open)"
					  class="files-view-controls-button">
				      <a href uib-dropdown-toggle>
				        {{files.filter.setAs}}
				      </a>
				      <ul class="uib-dropdown-menu files-view-controls-list" aria-labelledby="simple-dropdown">
				        <li ng-repeat="choice in files.filter.options">
				          <a
				            href
				            ng-click = "files.filter.setAs = choice;"
				          >{{choice}}</a>
				        </li>
				      </ul>
				    </div>


				</div>
			<!-- Sort -->
				<div 
				  class="files-view-sort-holder"
				  ng-if="files.sort"
				>
					<div 
					  uib-dropdown 
					  on-toggle="toggled(open)"
					  class="files-view-controls-button">
				      <a href uib-dropdown-toggle>
				        {{files.sort.setAs.name}}
				      </a>
				      <ul class="uib-dropdown-menu files-view-controls-list" aria-labelledby="simple-dropdown">
				        <li ng-repeat="choice in files.sort.by" class="files-view-controls-list-item">
				          <a
				            href
				            ng-click = "files.sort.setAs = choice"  class="files-view-controls-list-a"
				          >{{choice.name}}</a>
				        </li>
				      </ul>
				    </div>
    			</div>

		    </div>

	</div>

	<div class="files-view-content" ng-class="files.json.template" style="background-color: {{files.json.color2}}; background-image:url({{files.json.bgImage}})">
		<div class="container">


			<section
			  ng-hide="files.json.hasUnits === false || files.sort.setAs.orderon ==='name' && files.filter.setAs ==='All Units'"
			  class="file-view-list-holder"
			  ng-repeat="unit in files.fileList | filter: {showFilter: files.filter.setAs}"

			>
				<div
				  ng-if="files.json.hasIcons  && files.filter.setAs ==='All Units'"
				  class="file-view-list-section-icon-holder"
				>
					<img
					  ng-src="{{unit.icon}}"
					  alt="{{unit.unitName}}"
					  class="file-view-list-section-icon">
				</div>
				<div class="file-view-list-table-holder">
					<table
					  class="file-view-list-table"
					  ng-class="'file-view-list-table-'+files.json.category"
					>
						<tr
						  class="file-view-list-link"
						  ng-click=""
						  ng-repeat="item in unit.fileList | orderBy: files.sort.setAs.orderon"
						>
							<td class="file-view-list-iconType-cell">
								<div
								  class="file-view-list-iconType"
								  ng-class="'file-view-list-iconType-'+item.filetypeIcon"
								></div>
							</td>

							<td class="file-view-list-name"
								ng-class="{'hasUnitName':item.unitName}">
								<h2 class="file-view-list-main-title">
									{{item.name}}
									<span 
									  class="file-view-list-subtitle"
									  ng-if="item.resourceSubtitle"
									>{{item.resourceSubtitle}}</span>
								</h2>
								
							</td>
							<td ng-if="unit.unitName"
							class="file-view-list-unit-name">
								{{unit.unitName}}
							</td>
							<td class="file-view-list-date">
								{{item.date | date:'MMM yyyy'}}
							</td>
							<td class="file-view-list-size">
								{{item.size}}
							</td>
						</tr>
					</table>
				</div>

				

			</section>


			<section
			  ng-show="files.sort.setAs.orderon ==='name' && files.filter.setAs ==='All Units' || files.json.hasUnits === false"
			  class="file-view-list-holder"

			>
				<div class="file-view-list-table-holder">
					<table
					  class="file-view-list-table"
					  ng-class="'file-view-list-table-'+files.json.category"
					>
						<tr
						  class="file-view-list-link"
						  ng-click=""
						  ng-repeat="item in files.oneList | orderBy: files.sort.setAs.orderon"
						>
							<td class="file-view-list-iconType-cell">
								<div
								  class="file-view-list-iconType"
								  ng-class="'file-view-list-iconType-'+item.filetypeIcon"
								></div>
							</td>

							<td class="file-view-list-name"
							  ng-class="{'hasUnitName':item.unitName}">
								<h2 class="file-view-list-main-title">
									{{item.name}}
									<span 
									  class="file-view-list-subtitle"
									  ng-if="item.resourceSubtitle"
									>{{item.resourceSubtitle}}</span>
								</h2>
								
							</td>
							<td ng-if="item.unitName"
							class="file-view-list-unit-name">
								{{item.unitName}}
							</td>
							<td class="file-view-list-date">
								{{item.date | date:'MMM yyyy'}}
							</td>
							<td class="file-view-list-size">
								{{item.size}}
							</td>
						</tr>
					</table>
				</div>

				

			</section>

			<section
			  ng-if="files.json.downAll"
			  class="download-all-holder"
		    >
			    <a ng-href=""
			      class="download-all-button">
					<span class="download-all-text">{{files.json.downAll.text}}</span>
					<span class="download-all-size">{{files.json.downAll.size}}</span>					
			    </a>
		    </section>


		</div>
	</div>
</div>