<div class="view view-folder">
	<header class="folder-view-header">

		<div class="container">
			<div class="view-icon-holder">
				<img ng-src="{{folder.json.icon}}" alt="">
			</div>
			<div class="folder-view-header-text">
				<h1 class="folder-view-heading-main" style="color: {{folder.json.color1}}">
					{{folder.json.title}}
				</h1>
				<p class="folder-view-page-desc">
					{{folder.json.description}}
				</p>
			</div>
		</div>

	</header>

	<div class="folder-view-content" ng-class="folder.json.template" style="background-color: {{folder.json.color2}}; background-image:url({{folder.json.bgImage}})">
		<div class="container">
			<ul class="folder-view-list" ng-class="'folder-view-list-'+folder.json.template">
				<li ng-repeat="item in folder.json.folderList" class="folder-view-list-item" ng-class="folder.json.template">
					<a class="folder-view-list-item-link" ng-href="#/{{item.link}}">
						
						<div ng-if="item.icon"
						     class="folder-view-list-item-icon-holder"
						     style="background-color: {{item.color1}}">
							<img ng-src="{{item.icon}}" alt="">

						</div>

						<h2 class="folder-view-list-item-title">{{item.title}}<span ng-if="item.badge" ng-class="'folder-view-badge-'+item.badge"></span></h2>
						<p ng-if="item.description" 
						   class="folder-view-list-item-desc">
						   {{item.description}}
						</p>

					</a>
				</li>
			</ul>
		</div>
	</div>
</div>