    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-body">

            {{myModal.longText}}
        </div>
        <div class="modal-footer">
          <div class="close-modal-button" ng-click="myModal.ok()">Close</div>
        </div>
    </script>

<div class="view view-folder">
	<header class="content-view-header">

		<div class="container">
			<div class="view-icon-holder">
				<img ng-src="{{folder.json.icon}}" alt="">
			</div>
			<div class="content-view-header-text">
				<h1 class="content-view-heading-main" style="color: {{folder.json.color1}}">
					{{folder.json.title}}
				</h1>
				<p class="content-view-page-desc">
					{{folder.json.description}} <span ng-if ="folder.json.descriptionLong" class="more-button" ng-click="folder.readMore()">Read more</span>
				</p>
			</div>
		</div>

	</header>

	<div class="folder-view-content" ng-class="folder.json.template" style="background-color: {{folder.json.color2}}; background-image:url({{folder.json.bgImage}})">
		<div class="container">
			<ul class="folder-view-list" ng-class="'folder-view-list-'+folder.json.template">
				<li ng-repeat="item in folder.json.folderList" class="folder-view-list-item" ng-class="folder.json.template">
					<a class="folder-view-list-item-link" ng-href="#/{{item.link}}">
						
						<div ng-if="item.icon"
						     class="folder-view-list-item-icon-holder"
						     style="background-color: {{item.color1}}">
							<img ng-src="{{item.icon}}" alt="">

						</div>

						<h2 class="folder-view-list-item-title">{{item.title}}<span ng-if="folder.json.template === 'list-view' && item.description" 
						   class="folder-view-list-item-desc">
						   {{item.description}}
						</span><span ng-if="item.badge" ng-class="'folder-view-badge-'+item.badge"></span></h2>
						
						<div ng-if="folder.json.template === 'grid-view' && item.description" 
						   class="folder-view-list-item-desc">
						   {{item.description}}
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>