    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-body" ng-bind-html="myModal.longText">

        </div>
        <div class="modal-footer">
          <div class="close-modal-button" ng-click="myModal.ok()">Close</div>
        </div>
    </script>

<div class="view view-search">
	<header class="content-view-header">

		<div class="container">
			<div class="view-icon-holder">
				<img ng-src="{{search.json.icon}}" alt="">
			</div>
			<div class="content-view-header-text">
				<h1 class="content-view-heading-main">
					{{search.json.title}}
				</h1>
				<p class="content-view-page-desc" >
					<span ng-bind-html="search.json.description"></span> <span ng-if ="search.json.descriptionLong" class="more-button" ng-click="search.readMore()">Read more</span>
				</p>
			</div>
		</div>

	</header>


	<div class="search-view-content">
		<div class="container">
		<!-- Controls-->
		<div class="search-view-controls">

		<div class="temp">
		<label>Resource type:</label>
			<input type="text" ng-model="search.filters.resTypes">
		<label>Topics:</label>
			<input type="text" ng-model="search.filters.topics">
		<label>Media type:</label>
			<input type="text" ng-model="search.filters.mediaTypes">
		</div>


		<!-- using accordion: -->
		<uib-accordion close-others="true">

			<!-- Resource Type filter -->
		    <uib-accordion-group>
		      <uib-accordion-heading>
		        Resource Types
				<!-- TODO: Rework this to use my styling -->
		        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				<!-- Area in header where 'chips' for currently selected options sit - makes it easy to clear them without opening accordion. -->
		        <div ng-repeat="chosen in search.filters.resTypes"
		        	 class="search-view-control-header-chosen-stuff"
		        	 ng-click="$event.preventDefault();$event.stopPropagation();search.customFilterMe('mediaTypes',chosen)"
		        >
		        	{{chosen}}
		        </div>

		      </uib-accordion-heading>
			      <ul class="search-view-control-choices">
			        <li ng-repeat="type in search.json.filterList.resTypes">
			          <div
			          	class="search-view-control-choices"
			            href
			            ng-click = "search.customFilterMe('resTypes',type.search)"
			          >{{type.name}}</div>
			        </li>
			      </ul>
		    </uib-accordion-group>


			<!-- Topics filter -->
		    <uib-accordion-group>
		      <uib-accordion-heading>
		        Topics
				<!-- TODO: Rework this to use my styling -->
		        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				<!-- Area in header where 'chips' for currently selected options sit - makes it easy to clear them without opening accordion. -->
		        <div ng-repeat="chosen in search.filters.topics"
		        	 class="search-view-control-header-chosen-stuff"
		        	 ng-click="$event.preventDefault();$event.stopPropagation();search.customFilterMe('mediaTypes',chosen)"
		        >
		        	{{chosen}}
		        </div>

		      </uib-accordion-heading>

			      <ul class="search-view-control-subAccordion">
			        <li ng-repeat="unit in search.json.filterList.topics">
			        <uib-accordion>
						<uib-accordion-group>
							<uib-accordion-heading>{{unit.unitName}}</uib-accordion-heading>
							<ul>
								<li ng-repeat="topic in unit.topicList">
									<div
							          	class="search-view-control-choices"
							            href
							            ng-click = "search.customFilterMe('topics',topic.search)"
							          >{{topic.name}}</div>
								</li>
							</ul>
						</uib-accordion-group>

			        </uib-accordion>


			        </li>
			      </ul>
		    </uib-accordion-group>






		    <uib-accordion-group>
		      <uib-accordion-heading>
		        Media Types <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>

		        <div ng-repeat="chosen in search.filters.mediaTypes"
		        	 class="search-view-control-header-chosen-stuff"
		        	 ng-click="$event.preventDefault();$event.stopPropagation();search.customFilterMe('mediaTypes',chosen)"
		        >
		        	{{chosen}}

		        </div>
		      </uib-accordion-heading>
			      <ul class="search-view-control-choices">
			        <li ng-repeat="type in search.json.filterList.mediaTypes">
			          <a
			          	class="search-view-control-choices"
			            href
			            ng-click = "search.customFilterMe('mediaTypes',type.search)"
			          >{{type.name}}</a>
			        </li>
			      </ul>
		    </uib-accordion-group>


	  </uib-accordion>


		</div>

		<!--Empty message-->


		<!--File list-->

			<div class="search-view-list-table-holder">
				<table class="search-view-list-table">
					<tr ng-repeat="item in search.json.fileList | filterSearch:search.filters.resTypes:'showResTypes' | filterSearch:search.filters.topics:'showTopics' | filterSearch:search.filters.mediaTypes:'showMediaTypes' "
						class="search-view-list-item"
						ng-click=""
					>
						<td class="search-view-list-iconType-cell">
							<div
							  class="search-view-list-iconType"
							  ng-class="'search-view-list-iconType-'+item.filetypeIcon"
							></div>
						</td>
							
						<td class="search-view-list-name">
							<div class="search-view-list-name-div">
								<h2 ng-if="item.resourceTypeName"
									class="search-view-list-name-rt-name"
								>
									{{item.resourceTypeName}}
								</h2>
								<h2 class="search-view-list-name-r-name">
									{{item.resourceName}}
									<span 
									  class="search-view-list-name-subtitle"
									  ng-if="item.resourceSubtitle"
									>{{item.resourceSubtitle}}</span>
								</h2>
							</div>
						</td>
						<td ng-if="item.date"
							class="search-view-list-date">
								{{item.date | date:'MMM yyyy'}}
						</td>
						<td class="search-view-list-size">
							{{item.size}}
						</td>


					</tr>
				</table>
			</div>
		</div>
	</div>
</div>