    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-body" ng-bind-html="myModal.longText">

        </div>
        <div class="modal-footer">
          <div class="close-modal-button" ng-click="myModal.ok()">Close</div>
        </div>
    </script>

<div class="view view-search">
	<header class="content-view-header">

		<div class="container">
			<div class="view-icon-holder">
				<img ng-src="{{search.json.icon}}" alt="">
			</div>
			<div class="content-view-header-text">
				<h1 class="content-view-heading-main">
					{{search.json.title}}
				</h1>
				<p class="content-view-page-desc" >
					<span ng-bind-html="search.json.description"></span> <span ng-if ="search.json.descriptionLong" class="more-button" ng-click="search.readMore()">Read more</span>
				</p>
			</div>
		</div>

	</header>


	<div class="search-view-content">
		<div class="container">
		<!-- Controls-->


		<!--Empty message-->


		<!--File list-->

			<div class="file-view-list-table-holder">
				<table class="search-view-list-table">
					<tr ng-repeat="item in search.json.fileList"
						class="search-view-list-item"
						ng-click=""
					>
						<td class="search-view-list-iconType-cell">
							<div
							  class="search-view-list-iconType"
							  ng-class="'search-view-list-iconType-'+item.filetypeIcon"
							></div>
						</td>
							
						<td class="search-view-list-name">
							<div class="search-view-list-name-div">
								<h2 ng-if="item.resourceTypeName"
									class="search-view-list-name-rt-name"
								>
									{{item.resourceTypeName}}
								</h2>
								<h2 class="search-view-list-name-r-name">
									{{item.resourceName}}
									<span 
									  class="search-view-list-name-subtitle"
									  ng-if="item.resourceSubtitle"
									>{{item.resourceSubtitle}}</span>
								</h2>
							</div>
						</td>
						<td ng-if="item.date"
							class="search-view-list-date">
								{{item.date | date:'MMM yyyy'}}
						</td>
						<td class="search-view-list-size">
							{{item.size}}
						</td>


					</tr>
				</table>
			</div>
		</div>
	</div>
</div>