<div class="view view-signIn">
	<div class="homepage-banner homepage-banner-opd">
		<img class="logo-opd-huge" sizes="(max-width: 46em) calc(100vw - 32px), 700px" src="images/opd_trc_logo_homepage_1x.jpg" srcset="images/opd_trc_logo_homepage_1x.jpg 700w, images/opd_trc_logo_homepage_2x.jpg 1400w" alt="OPD Teacher Resource Center">
	</div>
	<div class="container">
  	
	<div class="signIn-section">
		<div class="signIn-card signIn-card-signIn">
			<div class="signIn-card-heading">Already have on OPD TRC account?</div>
			<form class="signIn-form"  name="signInForm" rc-submit="logMeIn(signInForm)">

		        <div class="signIn-form-item">
		            <input
		            	type="email"
		            	name="email"
		            	id="signInEmail"
		            	class="form-control signIn-form-control-text"
		            	ng-model="signInAttempt.email"
		            	required
		            >
		            <label for="signInEmail" class="settings-form-label">Email address</label>
	            </div>

		        <div class="signIn-form-item">
		            <input
		            	type="password"
		            	name="password"
		            	id="signInPassword"
		            	class="form-control signIn-form-control-text"
		            	ng-model="signInAttempt.password"
		            	required
		            	minlength="5"
		            >
		            <label for="signInPassword" class="settings-form-label">Password</label>
	            </div>

	            <button type="submit" class="signIn-card-action signIn-card-action-button" value="Sign in">Sign In</button>

			</form>
		</div>

		<div class="signIn-card signIn-card-signUp">
			<div class="signIn-card-heading">First time here?</div>
			<div class="signIn-card-description">
				<p>Register now for access to lesson plans, audio files, images, videos, stuff, and more. You’ll need an access code to get started. If you don’t have one do this thing which could include a link <a class="link-external" href="">like this</a></p>
			</div>
			<a href="" class="signIn-card-action signIn-card-action-link">Register</a>
		</div>
	</div><!-- end signIn-section -->

	</div><!-- end container -->

</div><!-- end view -->